<footer class="notepad-site-footer">
    <div class="copyright" style="padding:20px 20px 20px 20px">
         <a href="http://www.mineco.gob.es/" title="Gobierno de España, Vicepresidencia segunda del Gobierno, Ministerio de Asuntos Económicos y Transformación Digital. Secretaría de Estado de Digitalización e Inteligencia Artificial" target="_blank"><img src="{{ site.url }}/images/ministerio.jpg" style="padding: 10px 10px 10px 10px; max-height: 130px"></a>
         <a href="https://www.incibe.es/" title="Instituto Nacional de Ciberseguridad" target="_blank"><img src="{{ site.url }}/images/incibe.jpg" style="padding: 10px 10px 10px 10px; max-height: 130px"></a>
         <a href="https://www.tecnalia.com/" title="TECNALIA" target="_blank"><img src="{{ site.url }}/images/TECNALIA_BRT.jpg" style="padding: 10px 10px 10px 10px; max-height: 130px"></a>
        <br><br>© JNIC 2022<br><br><a href="{{ site.url }}/bases">Bases de JNIC 2022</a>
    </div>
</footer>
